#timer-container {
  width: min-content;
  overflow: hidden;
  background-color: black;
  border: 0.2rem solid rgb(246, 159, 39);
  border-radius: 1.5rem;
}
#timer {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.3rem;
  color: rgb(246, 159, 39);
  padding: 3rem;
  text-align: center;
  mix-blend-mode: difference;
}
#animated-background {
  background-color: rgb(246, 159, 39);
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
