#timer-container {
  width: fit-content;
  overflow: hidden;
  position: relative;
}

.timer-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
  letter-spacing: 0.3rem;
  padding: 1.4rem;
}

#backTimerText {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

#frontTimerText {
  position: relative;
  width: 100%;
  z-index: 2;
}
#animated-background {
  position: relative;
  overflow: hidden;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
